/* Calculate Component */

.container {
	align-self: center;
	height: 20rem;
	width: 20rem;
	font-weight: 800;
	background-color: #8c4ba6;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 0.7fr 4fr;
}

@media (min-width: 768px) {
	.container {
		width: 30rem;
		height: 30rem;
	}
}
